.first_year_div{
    text-transform: capitalize;
    display: flex;
    flex-direction: row-reverse;
    text-indent: 10px;
    font-size: 40px;
    background-color: rgb(110, 179, 114);
    width: 100%;
}
#first_year_menu:hover{
    padding: 5px;
    background-color:rgb(196, 41, 227);
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(179, 248, 5);
    border-radius: 30px;
    }
    #back_to_home:hover{
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: MediumSeaGreen;
        background-color: rgb(246, 255, 0); 
        border-radius: 30px;
    }
    #back_to_home{
        text-shadow: 1px 1px 2px rgb(255, 0, 0);
        padding-top: 40px;
        color: rgb(5, 14, 4);
        background-color: rgb(11, 215, 230);
    }
    #first_year_semisters{
        color:darkgreen;
        text-shadow: 1px 1px 2px red;
    }
    #first_year_semisters:visited{
          color: rgb(223, 2, 149); 
          font-family:'Courier New', Courier, monospace; 
    }
    #first_year_semisters:active{
            color: blue;
    }
    #first_year_semisters:hover{
        padding: 5px;
        padding-top: 40px;
        padding-bottom: 40px;
        color: rgb(14, 2, 236);
        background-color: rgb(199, 245, 245);  
        
    }
    #firstyeariframe1{
        font-family:'Times New Roman', Times, serif;
        background-color:rgb(213, 226, 226);
        padding-right: 2px;
        box-shadow: 4px 4px black;
        margin-bottom: 60px;
        margin-top: 30px;
    }
   
    #firstyearsemdetail{
        font-size: 35px;
        color: rgb(14, 1, 159);
        text-shadow: 1px 2px 2px green;
    }
    #firstyearsemdetail:hover{
        color: aqua;
        background-color: blueviolet;
        padding: 10px;
    }
    #firstyearcourses{
        color: rgb(7, 1, 1);
        font-size: 20px;
        font-family: verdana;
        padding-top: 5px;
    }
    #firstyearcourses:hover{
        color: blue;
        background-color: darksalmon;
        padding-left: 10px;
    }
    .firstyearnav_box{
        border: none;
        width: 950px;
        position: absolute;
        left: 400px;
        display:inline-flex;
        box-shadow: 3 4 5 black;
    }#cc{
        text-align:left;
        color: rgb(5, 248, 34);
        z-index: 3;
        position: absolute;
        font-size: 65px;
        font-family: Verdana, Tahoma, sans-serif;
        opacity:0.4;
        top: 50%;
        left: 0;
    }
    #firstyearimage{
        position:sticky;
       
    }
    .advertisement_div{
        border: none;
        width: 300px;        
        text-align: right;
    }